@tailwind base;
@tailwind components;

html {
  font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth !important;
}

body {
  background-color: theme(colors.space-light-blue);
}

@tailwind utilities;

@layer utilities {
  .animation-delay-1s {
    animation-delay: 1s;
  }

  .animation-delay-2s {
    animation-delay: 2s;
  }

  .animation-delay-3s {
    animation-delay: 3s;
  }

  .stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
}
