@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: aquamarine;
}

.home {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: bisque;
}